<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../public/css/style.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/styleLibrary.css">
    <title>Document</title>
</head>
<body class="body-2">
    <header>
        <div id="logo">Xera<a id="logo-s" href="../../index.html">The Revival</a></div>
    </header>
    <div class="container-form">
        <div class="title-form">Registration</div><br>
        <form action="#">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Full Name</span>
                    <input type="text" placeholder="Enter your name here" required>
                </div>
                <div class="input-box">
                    <span class="details">Username</span>
                    <input type="text" placeholder="Enter your username here" required>
                </div>
                <div class="input-box">
                    <span class="details">Email</span>
                    <input type="email" placeholder="ex:email123@gmail.com" required>
                </div>
                <div class="input-box">
                    <span class="details">Phone Number</span>
                    <input type="tel" placeholder="(99) 99999-9999" required>
                </div>
                <div class="input-box">
                    <span class="details">Password</span>
                    <input type="password" required>
                </div>
                <div class="input-box">
                    <span class="details">Confirm Password</span>
                    <input type="password" required>
                </div>
                <div class="input-box">
                    <span class="details">Cargo</span>
                    <input type="text" placeholder="ex: Mestre / Aspirante / Veterano" required>
                </div>
            </div>
            <div class="button-reg">
                <button type="submit" class="button-5">Register</button>
            </div>
        </form>
    </div>
</body>
</html>